.galeria {
  grid-column: 1 / -1;
  background: rgba(0, 0, 0, 0.1);
}
.slide-wrapper {
  overflow: hidden;
  grid-column: 1 / -1;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 50vw;
  max-width: 500px;
  margin: 0 20px;

  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
  opacity: 0.6;
  transform: scale(0.6);
  transition: 0.4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

[data-control='slide'] {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

[data-control='slide'] li a {
  display: block;
  width: 1rem;
  height: 1rem;
  background: #fb5;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  margin: 0.3rem;
}

[data-control='slide'] li.active a,
[data-control='slide'] li a:hover {
  background: #e54;
}

.custom-controls {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  grid-column: 1 / -1;
  flex-wrap: wrap;
}

.custom-controls li {
  opacity: 0.7s;
  transform: scale(0.5);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav {
  display: flex;
  justify-content: space-around;
  grid-column: 1 / -1;
}

.arrow-nav button {
  cursor: pointer;
  border: none;
  border-radius: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #fb5 url('../slide/img/arrow.svg') center center no-repeat;
}

.arrow-nav button:hover {
  color: yellowgreen;
}

.arrow-nav button.prev {
  transform: rotate(-180deg);
}
