.tooltip {
  position: absolute;
  z-index: 500;
  background: rgba(0, 0, 0,.6);
  box-shadow: 0 0 0 2px #FB5, 0 0 0 6px rgba(0, 0, 0,.6);
  padding: .5rem;
  color: white;
  font-family: 'IBM Plex Mono' monospace;
  font-weight: bold;
  font-size: .8rem;
  max-width: 180px;
  border-radius: 2px;
  top: 0;
  left: 0;
}